$color-smoke-black : #130C02;
$color-russian-purple : #230635;

.button-card {
  display: flex;
  flex-direction: column;
  /*border: 1px solid black; uncommented*/
  overflow: hidden;
  min-width: 10rem;

    .button-pdf-buttons {
      display: flex;
      justify-content: space-between;
      .button-pdf-button {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 6px;
        padding-bottom: 6px;
        cursor: pointer;
        /*add*/
        border: 1px solid black;
        margin-right: 5px;
        background-color: $color-russian-purple;
        color: #fff;
        /*end add*/
        .button-pdf-image {
          width: 1.1em;
          height: 1.1em;
          path{
            fill:#fff;
          }
          &.down
          {
            path
            {
              stroke: #fff;
              fill:none;
            }
          }
        }
        &:nth-child(2) {
          margin-right: 0;
        }

        &:hover
          {
            background-color: #fff;
            color: $color-russian-purple;
          .button-pdf-image {
            path{
              fill:$color-russian-purple;
            }
            &.down
            {
              path
              {
                stroke: $color-russian-purple;
                fill:none;
              }
            }
          }
          }

      }

    }
  
}
